apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80       # порт внутри кластера
      targetPort: 80 # порт PoD (контейнера nginx)
